*~

*.mat
# but do track in the reference folder
!reference/*.mat

figures/
junk/
data/
raw_data/

figures.tar.gz

dependencies/fastmedfilt1d/fastmedfilt1d_core.mexa64
fastmedfilt1d/fastmedfilt1d_core.mexa64

**/*.asv
**/*.mexw64
**/*.mex???
**/*.mexa64
**/*.png
**/*.jp*g
**/*.eps

